.icono-app {
  color: gainsboro;
  position: absolute;
  font-size: 3rem;
  top: 16px;
  left: 16px;
}

.card-resumen {
  max-width: 700px;
}

.card-resumen .card-header {
  background-color: white;
}

.card-resumen img, .card-detalle img {
  height: 300px;
}

.clima-icon-container {
  background-color: lavender;
  border-radius: 50%;
}

.clima-city-name-container {
  display: flex!important;  
  min-height: 312px;
  flex-direction: column;
  justify-content: center;
}

.clima-city-name-container kbd, .detalle-middle-container kbd {
  text-align: center;
  font-size: 1.5rem;
}

.clima-city-name-container code, .detalle-middle-container code {
  font-size: 3.5rem;
  text-align: center;
}

.detalle-middle-container {
  display: flex!important;  
  min-height: 312px;
  flex-direction: column;
  justify-content: center;  
}

.detalle-middle-container kbd {
  text-align: center;
  font-size: 3.5rem;
}

.detalle-middle-container code {
  font-size: 7rem;
  text-align: center;
}

.detalle-middle-container mark {
  font-size: 2.5rem;
  text-align: center;
}